---
import { SITE } from "../../config";
import { AuthMode } from "./AuthMode";
import  { LanguagePicker } from "./LanguagePicker";
import { ProviderProfileButton } from "./ProviderProfileButton";
import { getLangFromUrl} from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);

//Define types for items from config
interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}
interface MenuLink extends Link {
  links?: Array<Link>;
}
export interface Props {
  links?: Array<MenuLink>;
}

const { links = [] } = Astro.props;
---

<header id="container">
  <!-- <a id="logo">{pageTitle}</a>               -->

  <div id="container">
    <div class="navLines" id="navLines">
      <div class="all-logo">
        <a id="logo" href=`/${lang}`
          ><img class="logo-image" src="../blackLogo.png" /></a
        >
      </div>
      <h1 class="logo">{SITE.title}</h1>
    </div>
    <nav class="flex content-center w-1/4">
      <ul class="flex content-center">
        {
          links.map(({ text, href }) => (
            <a
              class="sm:text-xl md:text-2xl lg:text-4xl text-center hover:text-gray-900 dark:hover:text-white dark:text-gray-400 px-4 py-3 flex items-center transition duration-150 ease-in-out"
              href={href}
            >
              {text}
            </a>
          ))
        }
      </ul>
    </nav>

    <AuthMode client:only="solid-js" />

    <ProviderProfileButton client:only="solid-js" />

    <LanguagePicker client:only="solid-js"/>
  </div>
</header>
