---
import { SITE } from ".././config.js";
import { getLangFromUrl } from "../i18n/utils";

const { pageTitle, pageDescription, stylesheets } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang} dir={SITE.textDirection} class="2xl:text-[20px]">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta charset="UTF-8" />
        {stylesheets}

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png?v=2"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png?v=2"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png?v=2"
        />
        <link rel="manifest" href="/manifest.webmanifest?v=2" />
        <link
            rel="mask-icon"
            href="/safari-pinned-tab.svg?v=2"
            color={SITE.themeColor}
        />
        <link rel="shortcut icon" href="/favicon.ico?v=2" />
        <meta name="msapplication-TileColor" content="#00a300" />
        <meta
            name="msapplication-TileImage"
            content="/mstile-144x144.png?v=2"
        />
        <meta name="theme-color" content={SITE.themeColor} />

        <title>{pageTitle}</title>
        <meta name="description" content={pageDescription} />

        <script>
            (function () {
                const theme = localStorage.getItem("theme");
                if (
                    theme === "dark" ||
                    (!theme &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                ) {
                    document.documentElement.classList.add("dark");
                }
            })();
        </script>
    </head>

    <body
        class="text-page bg-background1 dark:bg-background1-DM text-ptext1 dark:text-ptext1-DM"
    >
        <!-- <script src="../../../node_modules/tinymce/tinymce.min.js" referrerpolicy="origin"></script> -->
        <slot />
    </body>
</html>
